// SEO Topfolds

section.seo__topfold {
  margin-top: 85px!important; // Compensate for Static Header bar on Tablet/Mobile
  padding-top: 75px;
  @media (min-width: 769px) {
    padding-top: 100px;
  }
  h1 {
    color: $headingblue;
  }
}

section.seo__image__topfold {
  h1 {
    color: $white;
    text-shadow: 0 2px 8px rgba(0,0,0,0.5);
  }
}

// SEO Flexible Section Standard Padding

.seo__top {
  padding: 25px 0px 75px 0px;
  @media (min-width: 769px) {
    padding: 25px 0px 100px 0px;
  }
}

.seo__middle {
  padding: 75px 0px;
  @media (min-width: 769px) {
    padding: 100px 0px;
  }
}

.seo__bottom {
  padding: 75px 0px 25px 0px;
  @media (min-width: 769px) {
    padding: 100px 0px 25px 0px;
  }
}
